* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}
.header_container {
  text-align: center;
  font-family: cursive;
  color:black;
  margin-top: 1%;
  font-size: larger;
  border: thin ;background-color: bisque; 
 border-radius: 20px;


}

.header_container img {
  width: 50px;
  border-radius: 20px;
  height: 50px;
}
.header_container h1{ 
    font-size: 70px;
}